pandas==2.2.0
sqlalchemy==2.0.25
psycopg2-binary==2.9.9
pydantic==2.5.3
pydantic-settings==2.1.0
python-dotenv==1.0.0
logging-json==0.4.0
alembic==1.13.1
pyarrow==14.0.1
pgvector==0.2.5
ipykernel
jupyter
black
flake8
streamlit
streamlit-cookies-controller
